

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
html {   
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    color: #505050;
    width: 100%;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(laptop-notebook-working-outside-min.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}



/* REUSABLE ITEMS */

/* Text */

h1 {
    color: #fff;
    font-family: 'Supermercado One', cursive;
    font-weight: 400;
    font-size: 400%;
    text-align: right;
    margin-bottom: 5%;
}

.section-left h1 {text-align: center;}
.section-left h1::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #fff;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.section-start p,
.section-left p {
    color: #e5e5e5;
    margin: 5% 0 10% 0;
    
}

/*Lists*/

ul {
    list-style: none;
    text-align: center;
}

li {
    padding: 10px 0;
}



/*Buttons*/

button {

    vertical-align: baseline;
    background-color: #fff59d;
    padding: 2%;
    border: hidden;
    border-bottom: 3px solid #fff59d;
    font: 400 15px 'Supermercado One', cursive;
    cursor: pointer;
    align-items: baseline;
    
}

/* Icons */ 

i {
    padding: 20px 20px 10px 0;
}



/* Other */ 

.hide {
    display:none;
}



/* SECTION START - LANDING PAGE */ 

.container-1 {
    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(laptop-notebook-working-outside-min.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.section-start {
    margin:  5%;
    float: right;
    text-align: right;

    
}




/* MAIN PAGE */

.section-left {
    
    padding: 5%;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(laptop-notebook-working-outside-min.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.section-right {

    display: flex;
    flex-flow: column;
    align-content: stretch;
}
.title {
    height: 16.666666vh;
    text-align: center;
    padding: 5%;
    font-family: 'Supermercado One', cursive;
    border: 1px solid rgba(80, 80, 80, 0.45);
    color: #000;
}

.title-1 {
    background-color: #cbc26d;
}

.title-2 {
    background-color: #fff59d;

}

.title-3 {
    background-color: #ffffcf;
}

.initial {
    height: 50vh;
}

.content {
    min-height: 40px;
    background-color: #fff;
    padding: 10px;
}








