

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
html {   
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.25;
    
}

.container-1 {
    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(laptop-notebook-working-outside-min.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    

}

/* REUSABLE ITEMS */

/* Text */

h1 {
    color: #fff;
    font-family: 'Supermercado One', cursive;
    font-weight: 400;
    font-size: 600%;
    text-align: right;
}

.hide {
    display: none;
}


/*Buttons*/

button {
    margin: 10% 0;
    vertical-align: baseline;
    background-color: #fff59d;
    padding: 2%;
    border: hidden;
    border-bottom: 3px solid #fff59d;
    font: 400 40px 'Supermercado One', cursive;
    cursor: pointer;
    align-items: baseline;
    
}




/* SECTION START */ 

.section-start {
    margin:  5%;
    float: right;
    text-align: right;

    
}

.section-start p {
    color: #e5e5e5;
    margin: 5% 0;

    
}
















